<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexstreaming.editorsimple">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EditorSimple"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:label="@string/title_activity_editor"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ExportActivity"
            android:label="ExportActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.nexstreaming.nexeditorsdk.service.nexAssetService"
            android:exported="true"></service>

        <activity
            android:name=".LocalAssetStoreSampleActivity"
            android:label="@string/title_activity_local_asset_store_sample"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
