<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nexstreaming.editordemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".kmsdk.kmEngine"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label" >
        <activity
            android:name=".activity.kmIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar.Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.kmThemeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar.StatusBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmAspectModeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar.StatusBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTitleEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar.StatusBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTitleEdit2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmThemePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmVideoActivity"
            android:theme="@style/NoActionBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTransitionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar.StatusBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTransitionPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmMusicListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActionBar.StatusBar.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTexteffectEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTexteffectEdit2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTexteffectEdit3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTexteffectEdit4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmTexteffectEdit5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
        <activity
            android:name=".activity.kmEditPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar2.Theme" >
        </activity>
    </application>

</manifest>
