ProjectID=allProjects
SDKName=NexEditorSDK
LICENSEFILE=0
LICENSEKEY=DEFAULT_KEY
CKTimeLock=0
CKMFGLock=0
CKPKGLock=1
LOCKStart=2017/07/01
LOCKEnd=2017/12/31
AppUCode=0
CKPKGName=0
WaterMark=0
PKGName2=com.seers.thync.wearable.clip
PKGName3=com.nexstreaming.nexeditorsdkapis
PKGName4=com.onlookers.android
PKGName5=com.onlookers.android.global
PKGName6=com.nexstreaming.app.singplay