ProjectID=allProjects
SDKName=NexEditorSDK
LICENSEFILE=0
LICENSEKEY=DEFAULT_KEY
CKTimeLock=0
CKMFGLock=0
CKPKGLock=1
LOCKStart=2016/1/1
LOCKEnd=2016/3/31
AppUCode=0
CKPKGName=0
WaterMark=0
PKGName2=com.rsupport.mvagent
PKGName3=com.rsupport.mobizen.sec
PKGName4=com.rsupport.mobizen.cn
PKGName5=com.rsupport.mobizen.cn.k.sec
PKGName6=com.rsupport.mobizen.cn.l.sec