ProjectID=allProjects
SDKName=NexEditorSDK
LICENSEFILE=0
LICENSEKEY=DEFAULT_KEY
CKTimeLock=0
CKMFGLock=1
CKPKGLock=0
LOCKStart=2016/1/1
LOCKEnd=2016/9/30
AppUCode=0
CKPKGName=0
WaterMark=0
PKGName2=TINNO
PKGName3=WIKO
PKGName4=SUGAR
PKGName5=CASPER
PKGName6=QMOBILE
PKGName7=MICROMAX
PKGName8=BGH
PKGName9=HYUNDAI
PKGName10=CLOUDFONE
PKGName11=LANIX
PKGName12=BQRU
PKGName13=SYMPHONY
PKGName14=KENBO
PKGName15=SOAP
PKGName16=SMART