ProjectID=allProjects
SDKName=NexEditorSDK
LICENSEFILE=0
LICENSEKEY=DEFAULT_KEY
CKTimeLock=0
CKMFGLock=1
CKPKGLock=0
LOCKStart=2015/1/1
LOCKEnd=2016/3/31
AppUCode=0
CKPKGName=0
WaterMark=0
PKGName2=GIONEE
PKGName3=ALLVIEW
PKGName4=VOBIS
PKGName5=WEIMEI
PKGName6=MOBISTEL
PKGName7=BLU
PKGName8=HYUNDAI
PKGName9=AZUMI
PKGName10=QMOBILE
PKGName11=REEDER
PKGName12=HELIO
PKGName13=WALTON
PKGName14=CONDOR
PKGName15=GINI
PKGName16=LT
PKGName17=GTEL
PKGName18=CELLCOM
PKGName19=CLARESTA
PKGName20=ASHNA
PKGName21=PIECEOFCAKE
PKGName22=ZUUM
PKGName23=NGM
PKGName24=LAIQ
